@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', sans-serif;
}

.inputBox {
    @apply block w-60 px-3 py-2 mt-1 border border-slate-300 placeholder-slate-500 rounded-full text-sm shadow-sm outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-400 duration-200
}

.swiper-pagination-bullet{ 
    background-color: red;  
}  

.swiper-button-prev,
.swiper-button-next{
    transition: .3s linear;
    color: rgba(255, 0, 0, .2);
    /* top: 370px ; */
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: rgba(255, 0, 0, 0.5);
}